<section class="section" *ngIf="authService.currentUser$ | async as user; else some" >
    <h2 class="title has-text-centered">Students List</h2>
    <div class="container" style="overflow-x:auto;">
        <a routerLink="/register-student" class="button is-link is-inverted has-text-centered" style="margin-right: 0; margin-left: 90%;">Add Student</a>
        <table class="table" style="margin: auto; width: 100%;">
            <thead>
                <tr>
                <th scope="col">Student Id</th>
                <th scope="col">Username</th>
                <th scope="col">Fullname</th>
                <th scope="col">Email</th>
                <th scope="col">Message</th>
                <th scope="col" class="has-text-centered" colspan="2">Edit</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let student of Student | paginate: { itemsPerPage: 6, currentPage: p }; let i = index">
                <td scope="row">{{ student.$key }}</td>
                <td>{{ student.username }}</td>
                <td>{{ student.fullname }}</td>
                <td>{{ student.email }}</td>
                <td>{{ student.note }}</td>
                <td style="text-align: center;">
                    <button class="button is-info is-light" routerLink="/edit-student/{{ student.$key }}" style="margin: 5px;">Edit</button>
                
                    <button class="button is-danger is-light" (click)="deleteStudent(student)" style="margin: 5px;">Delete</button>
                </td>
                </tr>
            </tbody>
            <tfoot>
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
                <button class="button is-danger" (click)="goback()" style="margin: 5px;">Back</button>
            </tfoot>
        </table>
    </div>
</section>


<ng-template #some> 
    <section class="section" style="height: 80vh;">
        <div class="container">
            <h2>Please Login To Access This Page</h2>
            <button class="button is-block is-fullwidth is-primary is-medium is-rounded" routerLink="/login">Login</button>
        </div>
    </section>
</ng-template>