<i id="stickBtn"  class="fa-solid fa-angles-up" onclick="backTopFunction()"></i>
  <div class="stickydark">
    <input type="checkbox" class="checkboxzx" id="checkboxzx">
    <label for="checkboxzx" class="labelcx">
      <i class="fa-regular fa-moon"></i>
      <i class="fa-regular fa-sun"></i>
      <div class='ballroll'></div>
    </label>
  </div>

  <div id="homexrd" class="triton">
    <img id="moon" class="moon unselectable" src="/assets/img/fiper/galaxy-min.png" alt="Moon">
    <img id="astro" class="astro unselectable" src="/assets/img/fiper/astropng-min.png" alt="Astro">
    <img id="rocket" class="rocket unselectable" src="/assets/img/fiper/rocket-min.png" alt="Rocket">
    <div class="contentzxt">
      <h2>Welcome To zTyrant Space.</h2>
      <div class="scrolldown"></div>
    </div> 
    <div class="contentzxt">
      <h2>Who am I?</h2>
    </div>
    <div class="contentzxt">
      <h2>Click On Earth</h2>
      <div class="arrow" style="margin-top: 10%;">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="contentzxt undertzx">

        <img class="astroearth" src="/assets/img/astromoon.png" alt="AstroEarth" onclick="scrollToElement('whoIam')">

    </div>
  </div> 
  
  <section id="whoIam" class="coverbgtz">
    <h1 class="title has-text-centered">Hi there!</h1>

    <div class="timeline">

      <div class="centerunder"  data-aos="fade-up" data-aos-offset="300">
        <div id="areaCon0" class="contentxz">
          <div class="underflex">
            <h2>About Me</h2>
          </div>
        </div>
      </div>

      <div class="containertxz left">
        <div id="areaCon1" class="contentxz" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
          <div class="flexi-container">
            <div class="underflex">
              <h2>Who am I?</h2>
              <p>My name is zTzyrant a.k.a Katachi and I am a website developer.</p>
            </div>
            <div class="underflex">
              <i class="fa-solid fa-question" style="font-size: 8rem;"></i>
            </div>        
          </div>
        </div>
      </div>

      <div class="containertxz right">
        <div id="areaCon2" class="contentxz" data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine">
          <div class="flexi-container">
            <div class="underflex">
            <i class="fa-solid fa-user-astronaut" style="font-size: 8rem;"></i>
            </div>
            <div class="underflex">
              <h2>Status</h2>
              <p>I'm a college student. I don't study harder but study with fun. 
                if there's a course that I'm not interested in, it's really annoying 
                when I'm forced to study for that course</p>
            </div>
          </div>
        </div>
      </div>

      <div class="containertxz left">
        <div id="areaCon3" class="contentxz" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
          <div class="flexi-container">
            <div class="underflex">
              <!-- Edit Disini -->
              <i class="fa-regular fa-window-restore" style="font-size: 8rem; margin-top: 10%;"></i>
            </div>
            <div class="underflex">
              <!-- Edit Disini -->
              <h2>This Website?</h2>
              <p>ahh this website I made for fun only. there is no special reason for making this website. 
                This website is based on Angular 13 with minimalistic settings. In the future, this website 
                will have many features that I will add for my learning needs.</p>
            </div>
          </div>
        </div>
      </div>
        
        <div class="containertxz right">
          <div id="areaCon4" class="contentxz" data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine">
            <div class="flexi-container">
              <div class="underflex">
                <!-- Edit Disini -->
                <i class="fa-solid fa-cubes" style="font-size: 8rem; margin-top: 10%;"></i>
              </div>
              <div class="underflex">
                <!-- Edit Disini -->
                <h2>What Can I Do?</h2>
                <p>i can actually do a lot of programming stuff, but sometimes i 
                  feel busy and not excited to do programming. but I can do some 
                  things like make a website, build bots and do penetration tests.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="centerunder"  data-aos="fade-up" data-aos-offset="300">
          <div id="areaCon5" class="contentxz">
            <div class="underflex">
              <h2>Web Framework Knowledge</h2>
            </div>
          </div>
        </div>

        <div class="containertxz left">
          <div id="areaCon6" class="contentxz" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
            <div class="flexi-container">
              <div class="underflex">
                <!-- Edit Disini -->
                <i class="fa-brands fa-angular" style="font-size: 8rem; margin-top: 10%; color: red;"></i>
              </div>
              <div class="underflex">
                <!-- Edit Disini -->
                <h2>Angular</h2>
                <p style="font-style: italic;">Expert process: 76%</p>
                <p>Angular is a development platform, built on TypeScript. As a platform, 
                  Angular includes: A component-based framework for building scalable web applications 
                  <a href="https://angular.io/guide/what-is-angular"
                   style="font-style: italic; color: #fff;">Learn more.</a></p>
              </div>
            </div>
          </div>
        </div>

        <div class="containertxz right">
          <div id="areaCon7" class="contentxz" data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine">
            <div class="flexi-container">
              <div class="underflex">
                <!-- Edit Disini -->
                <i class="fa-brands fa-laravel" style="font-size: 8rem; margin-top: 10%; color: #f05340;"></i>
              </div>
              <div class="underflex">
                <!-- Edit Disini -->
                <h2>Laravel</h2>
                <p style="font-style: italic;">Expert process: 40% (Dropped)</p>
                <p>Laravel is a web application framework with expressive, elegant syntax. 
                  Laravel aims to make the development process a pleasing one for the developer 
                  without sacrificing application functionality. Happy developers make the best code. 
                  <a href="https://laravel.com/docs/4.2/introduction"
                   style="font-style: italic; color: #fff;">Learn more.</a></p>
              </div>
            </div>
          </div>
        </div>

        <div class="containertxz left">
          <div id="areaCon8" class="contentxz" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
            <div class="flexi-container">
              <div class="underflex">
                <!-- Edit Disini -->
                <img src="https://static.djangoproject.com/img/logos/django-logo-negative.png" alt="Django" style="max-width: 8rem; margin-top: 10%;">
              </div>
              <div class="underflex">
                <!-- Edit Disini -->
                <h2>Django</h2>
                <p style="font-style: italic;">Expert process: 20% (Dropped)</p>
                <p>Django is a high-level Python web framework that encourages rapid development and clean, pragmatic design. 
                  <a href="https://www.djangoproject.com/"
                   style="font-style: italic; color: #fff;">Learn more.</a></p>
              </div>
            </div>
          </div>
        </div>

        <div class="containertxz right">
          <div id="areaCon9" class="contentxz" data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine">
            <div class="flexi-container">
              <div class="underflex">
                <!-- Edit Disini -->
                <img src="https://upload.wikimedia.org/wikipedia/commons/6/62/Ruby_On_Rails_Logo.svg" alt="Rails" style="max-width: 8rem; margin-top: 10%;">
              </div>
              <div class="underflex">
                <!-- Edit Disini -->
                <h2>Ruby On Rails</h2>
                <p style="font-style: italic;">Expert process: 53% (Seek)</p>
                <p>Rails is a web application development framework written in the Ruby programming language. 
                  It is designed to make programming web applications easier by making assumptions about what every developer needs to get started.
                  <a href="https://guides.rubyonrails.org/getting_started.html"
                   style="font-style: italic; color: #fff;">Learn more.</a></p>
              </div>
            </div>
          </div>
        </div>
        
        <div class="centerunder"  data-aos="fade-up" data-aos-offset="300">
          <div id="areaCon10" class="contentxz">
            <div class="underflex">
              <h2>Programing Language Knowledge</h2>
            </div>
          </div>
        </div>
        
        <div class="containertxz left">
          <div id="areaCon11" class="contentxz" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
            <div class="flexi-container">
              <div class="underflex">
                <!-- Edit Disini -->
                <i class="fa-brands fa-python" style="font-size: 8rem; margin-top: 10%; color: #183153;"></i>
              </div>
              <div class="underflex">
                <!-- Edit Disini -->
                <h2>Python</h2>
                <p style="font-style: italic;">Expert process: 60% (Seek)</p>
                <p>Python is an interpreted, object-oriented, high-level programming language with dynamic semantics. 
                  Its high-level built in data structures, combined with dynamic typing 
                  and dynamic binding.
                  <a href="https://www.python.org/doc/essays/blurb/"
                   style="font-style: italic; color: #fff;">Learn more.</a></p>
              </div>
            </div>
          </div>
        </div>

        <div class="containertxz right">
          <div id="areaCon12" class="contentxz" data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine">
            <div class="flexi-container">
              <div class="underflex">
                <!-- Edit Disini -->
                <i class="fa-brands fa-java" style="font-size: 8rem; margin-top: 10%; color: #5382a1;"></i>
              </div>
              <div class="underflex">
                <!-- Edit Disini -->
                <h2>Java</h2>
                <p style="font-style: italic;">Expert process: 80%</p>
                <p>Java is a programming language and computing platform first released by Sun Microsystems in 1995. 
                  It has evolved from humble beginnings to power a large share of today's digital world, by providing
                   the reliable platform upon which many services and applications are built. 
                  <a href="https://www.java.com/en/download/help/whatis_java.html"
                   style="font-style: italic; color: #fff;">Learn more.</a></p>
              </div>
            </div>
          </div>
        </div>

        <div class="containertxz left">
          <div id="areaCon13" class="contentxz" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
            <div class="flexi-container">
              <div class="underflex">
                <!-- Edit Disini -->
                <i class="fa-solid fa-c" style="font-size: 8rem; margin-top: 10%; color: #fff;"></i>
              </div>
              <div class="underflex">
                <!-- Edit Disini -->
                <h2>C</h2>
                <p style="font-style: italic;">Expert process: 50% (Seek)</p>
                <p>C is a procedural programming language. It was initially developed by Dennis Ritchie in the year 1972. 
                  It was mainly developed as a system programming language to write an operating system. The main 
                  features of the C language include low-level memory access, a simple set of keywords, and a clean style.
                  <a href="https://www.geeksforgeeks.org/c-language-set-1-introduction/"
                   style="font-style: italic; color: #fff;">Learn more.</a></p>
              </div>
            </div>
          </div>
        </div>  

        <div class="containertxz right">
          <div id="areaCon14" class="contentxz" data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine">
            <div class="flexi-container">
              <div class="underflex">
                <!-- Edit Disini -->
                <i class="fa-solid fa-gem" style="font-size: 8rem; margin-top: 10%; color: red;"></i>
              </div>
              <div class="underflex">
                <!-- Edit Disini -->
                <h2>Ruby</h2>
                <p style="font-style: italic;">Expert process: 20% (Seek)</p>
                <p>Ruby is a language of careful balance. Its creator, Yukihiro “Matz” Matsumoto, 
                  blended parts of his favorite languages (Perl, Smalltalk, Eiffel, Ada, and Lisp) 
                  to form a new language that balanced functional programming with imperative programming.
                  <a href="https://www.ruby-lang.org/en/about/"
                   style="font-style: italic; color: #fff;">Learn more.</a></p>
              </div>
            </div>
          </div>
        </div>

    </div> 
  </section>
  
  <section class="section">
    <div class="container">
      <div class="content">
        <h2 class="title has-text-centered">Users Reviews</h2>
        <div class="columns is-multiline" *ngIf="feedusr">
          <div class="column is-4" *ngFor="let user of feedusr | async">
            <div class="card">
              <div class="card-content">
                <h4>{{user.fullname}} <br> 
                  <i style="font-size: 0.8rem;">email: {{user.email}}
                  </i>
                </h4>
                <p>
                  Reviews: 
                  <br>
                  <i>{{user.review}}</i>
                </p>

                <span *ngIf="user.star == 1">
                  <i class="fa-solid fa-star" style="color: #ff6000d9;"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                </span>
                <span *ngIf="user.star == 2">
                  <i class="fa-solid fa-star" style="color: #ff6000d9;"></i>
                  <i class="fa-solid fa-star" style="color: #ff6000d9;"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                </span>
                <span *ngIf="user.star == 3">
                  <i class="fa-solid fa-star" style="color: #ff6000d9;"></i>
                  <i class="fa-solid fa-star" style="color: #ff6000d9;"></i>
                  <i class="fa-solid fa-star" style="color: #ff6000d9;"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                </span>
                <span *ngIf="user.star == 4">
                  <i class="fa-solid fa-star" style="color: #ff6000d9;"></i>
                  <i class="fa-solid fa-star" style="color: #ff6000d9;"></i>
                  <i class="fa-solid fa-star" style="color: #ff6000d9;"></i>
                  <i class="fa-solid fa-star" style="color: #ff6000d9;"></i>
                  <i class="fa-solid fa-star"></i>
                </span>
                <span *ngIf="user.star == 5">
                  <i class="fa-solid fa-star" style="color: #ff6000d9;"></i>
                  <i class="fa-solid fa-star" style="color: #ff6000d9;" ></i>
                  <i class="fa-solid fa-star" style="color: #ff6000d9;"></i>
                  <i class="fa-solid fa-star" style="color: #ff6000d9;"></i>
                  <i class="fa-solid fa-star" style="color: #ff6000d9;"></i>
                </span>

              </div>
            </div>
          </div>
        </div>
        <p class="has-text-centered">Contribute by review this site:</p>
        <button class="button is-link is-outlined" style="position: absolute; left: 46.7%;" onclick="openModal()">Review</button>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="content">
        <h2 class="title has-text-centered">New Feature</h2>
        <button class="button is-link is-outlined" style="position: absolute;
        left: 44.8%;" routerLink="/student">Student CURD</button>
      </div>
    </div>
  </section>


  <div class="modal">
    <div class="modal-background"></div>
    <div class="modal-card" style="border-radius: 0.67rem;">
      <header class="modal-card-head" style="background-color: hsla(171, 100%, 41%, 0.76);">
        <p class="modal-card-title">User Review</p>
        <button class="delete" aria-label="close" onclick="closeModal()"></button>
      </header>
      <section class="modal-card-body" style="background-color: rgba(255, 255, 255, 0.92);">
        <!-- Content ... -->
        <form [formGroup]="feedbackform" (ngSubmit)="submitFeedbackData()" novalidate>
          <!--- fullname --->
          <div class="field">
            <label for="fullname" class="label">Fullname</label>
            <input type="text" name="fullname" class="input" formControlName="fullname" required>
            
            <div class="help is-error is-danger" *ngIf="fullname.invalid && fullname.touched">*Please Fill This Field</div>
          </div>
  
          <!--- Email --->
          <div class="field">
            <label for="email" class="label">Email</label>
            <input type="email" name="email" class="input" formControlName="email" required email>
  
            <div class="help is-error is-danger" *ngIf="email.invalid && email.touched">*Please Fill Email Field</div>
          </div>
  
          <!--- star --->
          <div class="field">
            <label for="star" class="label">Star: 
              <i id="c1x23r1" class="fa-solid fa-star"></i>
              <i id="c1x23r2" class="fa-solid fa-star"></i>
              <i id="c1x23r3" class="fa-solid fa-star"></i>
              <i id="c1x23r4" class="fa-solid fa-star"></i>
              <i id="c1x23r5" class="fa-solid fa-star"></i>
            </label>
            
            <select class="input" id="star" name="star" formControlName="star" onchange="starX()" required>
              <option value="" selected>Rate This Site</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
            <div class="help is-error is-danger" *ngIf="star.invalid && star.touched">*Please Select Star Field</div>
          </div>

          <!--- Message --->
          <div class="field">
            <label for="review" class="label">Message</label>
            <textarea id="textareatr" name="review" class="textarea" formControlName="review" maxlength="250" onkeyup="templeft()"></textarea>
            <p id="countrv" class="help is-error"></p>
          </div>
          <!-- NOTED KARENA MENGGUNAKAN CLASS studenForm SEGALA INPUT HARUS DISIKIAN formControlName="exmaple" -->
          <!--- Submit --->
            <button type="submit" class="button is-info is-primary" [disabled]="feedbackform.invalid">
              Send!
            </button>
        </form>
      </section>
    </div>
  </div>